
body{
    text-align: center;
}
div{
    height: 100px;
    width: 500px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    background-color: blue;
};

