
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nata+Sans:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
 margin: 0;
 padding: 0;
 font-family: "Montserrat", sans-serif;
 font-optical-sizing: auto;
 font-weight: 20;
 font-size: large;
 font-style: normal;
};

.calculator{
    border: 1px solid #717377 !important;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.5);
    background : linear-gradient(45deg,#0a0a0a,#3a4452);
    color: white;
    padding: 20px;
    border-radius: 16px;
    height: 60vh;
    width: 60vw;
}

.main{
     width: 100%;
     height: 100vh;
     background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
}

button{
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: transparent;
    color: #ffff;
    font-size: 20px;
    border: none;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
input{
    width: 19vw;
    border: 1px solid #717377 ;
    padding: 0 2px 0 2px;
    margin: 10px;
    background: transparent;
    color: white;
    box-shadow: 0px 3px 15px rgba(84, 84, 84, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
}
.equal{
    color:#6dee0a;
}
.equalbtn{
    background-color: #fb7c14;
}