*{
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    display: flex;
    align-items: center;
    width: auto;
    height: 70px;
    color: white;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    list-style-type: none;
    padding-left: 1rem;
}

.gameContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,10vw);
    grid-template-rows: repeat(3,10vw);
}
.box{
    border: 2px solid black;
    font-size: 6vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    color: black;
    background-color: white;
}

.box:hover{
    background-color: rgb(253, 238, 253);
}
.gameInfo{
    padding: 0 38px;
    margin-bottom: 35vmin;
    /* padding-top: 5vmin; */
}
h2{
    margin-bottom: 2vmin;
}

.imgbox{
    display: flex;
    justify-content: center;
}

.imgbox img{
    margin-top: 10vmin;
    height: 10vw;
    width: 10vw;
}

.br-0{
    border-right: 0;
}

.bl-0{
    border-left: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

#reset{
    margin-top: 0.5rem;
    padding: 1rem;
    font-size: 1rem;
    background-color: black;
    color: #fff;
    border-radius: 1rem;
    border: none;

}

.msgContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vmin;
    background-color: #ffffc7;
}
#msg{
    color: black;
    font-weight: bolder;
    font-size: 8vmin;
}
#newBtn{
    margin-top: 3rem;
    padding: 1rem;
    font-size: 1.25rem;
    width: 25vmin;
    background-color: black;
    color: #fff;
    border-radius: 1rem; 
    border: none;
}
.hide{
    display: none;
}

h2{
    display: flex;

}