*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body{
    min-height: 100vh;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: min-content;
    width: 400px;
    background-color: white;
    color: black;
    border-radius: 12px;
    padding: 28px;
}
.search-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: min-content;
}
.search-box input{
    width: 80%;
    font-size: 20px;
    color: black;
    background-color: #e6f5fb;
    padding: 12px 16px;
    text-transform: capitalize;
    border-radius: 14px;

}

.search-box button{
    border-radius: 50%;
    height: 46px;
    width: 46px;
    background-color: #e6f5fb;
    cursor: pointer;
    font-size: 20px;
}
.search-box button:hover{
    color: white;
    background-color: #ababab;
}

.weather-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-box img{
    width: 60%;
}
.weather-info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-block: 20px;
}

.temperature{
    font-size: 40px;
    font-weight: bold;
    position: relative;
}
.temperature sup{
    font-size: 20px;
    position: absolute;
}
.description{
    font-size: 20px;
    font-weight: 700;
}

.weather-details{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.humidity{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.wind{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.text{
    margin-left: 10px;
}
.humidity i{
    font-size: 36px;
}
.wind i{
    font-size: 36px;
}

#humidity{
    font-weight: bold;
    font-size: large;
}

#wind-speed{
    font-weight: bold;
    font-size: large;
}
